<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta name="description" content="柒叶的个人网站,用于写技术博客的个人网站，主要专注于互联网技术文章的编写，文档教程的编写。提升编程能力。技术的分享。">
<meta name="keywords" content="程序员、Python、GO、Node、Rust、算法、Linux、编程、Javascript、云计算、人工智能">
<link rel="shortcut icon" href="https://immisso.oss-cn-hangzhou.aliyuncs.com/icon.png" />
<% if (context.title != null) { %>
  <title><%= context.title %></title>
<% } %>
</head>
<body>

<div id="<%= context.config.mountElementId %>"></div>
</body>

</html> 